.quiz-game {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    /* display: flex; */
}

.note-button {
    width: 10%;
    height: 15%;
    background-color: lightblue;
    font-size: 5em;
    border-radius: 5%;
}
